AF.Transaction.Sample/Service References/TransactionService/WCFTransactionDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AF.Transaction.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AF.Transaction.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sukanta-pc/AF.Transaction.Service/WCFTransactionDemo.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Message" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>